body {
    background-color: aqua;
}
h4 {
    text-align: right;
    font-style: italic;
    font-weight: bold;
    
}
h1 {
    font-family: 'Comic Sans Ms';
    font-size: 60px;
    color: darkblue;
    text-align: center;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a#cimen {
    color: white;
}

#ket {
    text-align: center;
    color:orange;
}
p {
    text-align: center;
}